body, html {
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    border: 7px solid black;
}

div {
    height: 100px;
    width: 100px;
    background-color: darkred;
    border: 3px solid black;
}

.relative {
    position: relative;
    top: 20px;
    left: 40px;
}