body
{
}

.one {
    background-color: green;
    border-radius: 5px;
    border: 20px groove red;
    width: 200px;
    height: 30px;
    color: white;
}

.two {
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
    background-image: url("https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/All-about-puppies--Cesar%E2%80%99s-tips%2C-tricks-and-advice.jpg?itok=bi9xUvwe");
    background-size: cover;
    background-repeat: no-repeat;
}

.bb {
    box-sizing: border-box;
}