header {
    background-color: cornflowerblue;
}

p {
    text-align: center;
    border-bottom: 2px solid WHITE;
    color: white;
    padding: 10px;
    margin: 0;
}

a {
    text-decoration: none;
}