html {
    font-family: 'Cantarell', sans-serif;
    color: whitesmoke;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 2.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div, header nav {
    width: 200px;
    height: 80%;
    margin: 0 2.8rem;
    background-color: red;
}

header div i, header nav i {
    height: 100%;

}

header nav {
    display: flex;
    justify-content: space-between;
}
        
html, body {
    margin: 0;
}

#index-atf {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background-photo-mobile-devices.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-atf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.15rem;
}

h1, h2 {
    color: white;
    text-align: center;
}

.button {
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    color: greenyellow;
    border: 3px solid greenyellow;
}

@media (max-width: 700px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.15rem;
    }

    h2 {
        font-size: 0.75rem;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 0.75rem;
    }

    h2 {
        font-size: 0.5rem;
    }
}