html, body {
    margin: 0;
}

#index-atf {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/background-photo-mobile-devices.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-atf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.15rem;
}

h1, h2 {
    color: white;
    text-align: center;
}

.button {
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
}