.container {
    width: 90%;
    margin: 0 auto;
}

.red {
    background-color: red;
    border-radius: 25%;
    border: 3px solid black;
    display: inline-block;
    width: 6.92%;
    margin: 0 auto;
    height: 4vh;
}
.blue {
    background-color: blue;
    border-radius: 25%;
    border: 3px solid black;
    display: inline-block;
    width: 6.92%;
    margin: 0 auto;
    height: 4vh;
}
.yellow {
    background-color: yellow;
    border-radius: 25%;
    border: 3px solid black;
    display: inline-block;
    width: 6.92%;
    margin: 0 auto;
    height: 4vh;
}
.green {
    background-color: green;
    border-radius: 25%;
    border: 3px solid black;
    display: inline-block;
    width: 6.92%;
    margin: 0 auto;
    height: 4vh;
}