
.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;

}

header {
    flex: 1;
}

section {
    flex: 4;
}

nav {
    flex-direction: column;
}

.container-main {
    flex-direction: column;
}

.container-second {
    flex-direction: column;
}